@import "./variables";
@import "./common";
@import "./mixins";


.page-list{
    .page-list__featureNews{
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .category-section__content{
        .category-wrapper {
            .cat-thumbnail {
                flex-wrap: nowrap;
                .single-column{
                    
                }
            }
        }
    }
}